{% extends 'base.html.twig' %}

{% block title %}Edit Employee
{% endblock %}

{% block body %}
	<h1>Edit Employee</h1>

	<div class="p-4">{{ include('employee/form.html.twig', {'button_label': 'Update'}) }}</div>
	<div class="col-md-12 d-flex justify-content-center gap-2 mb-4">
		<a class="btn btn-success" href="{{ path('app_employee_index') }}">back to list</a>
		<form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
			<button class="btn btn-danger">Delete</button>
		</form>
	</div>

{% endblock %}
