{% extends 'base.html.twig' %}

{% block title %}New Employee
{% endblock %}

{% block body %}
	<h1>Create new Employee</h1>
	<div class="p-4">
		{{ include('employee/form.html.twig', {'button_label': 'Create'}) }}
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent()}}
	<script>
		function readURL(input) {
if (input.files && input.files[0]) {

var reader = new FileReader();
reader.onload = function (e) {
document.querySelector("#img").setAttribute("src", e.target.result);
document.querySelector("#img").style.display = "block";
};

reader.readAsDataURL(input.files[0]);
}
}
	</script>
{% endblock %}

